section {
  display: flex;
  flex-wrap: wrap;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(102, 86, 86);
}
#container {
  background-color: rgb(220, 234, 245);
  border-radius: 20px;
  width: 300px;
  height: fit-content;
  margin: 20px;
  padding: 20px;
}
.title {
  color: rgb(137, 137, 173);
  font-size: 25px;
}
